
body {
    font-family: sans-serif;
}

/* ----------------------------------- */
/* ----------------------------------- */
/* ---     Header                  --- */
/* ----------------------------------- */
/* ----------------------------------- */

#header {
    display: flex;
    /* border: 1px solid pink; */
}

/* ----------------------------------- */
/* ---     Header left             --- */
/* ----------------------------------- */

#header_left {
    display: inline-flex;
    width: 49%;
    /* border: 1px solid green; */
    /* background-color: lightgreen; */
    flex-direction: column;
    flex: 3;
}

#header_left h2 {
    margin-top: 10px;
    margin-bottom: 0;
}

/* ----------------------------------- */
/* ---       Date / Time select    --- */

#datetime_select {
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 10px;
}

#datetime_select input {
    font-size: 1.5em;
}

/* ----------------------------------- */
/* ---     Header right            --- */
/* ----------------------------------- */

#header_right {
    display: inline-flex;
    /* border: 1px solid blue; */
    /* background-color: lightblue; */
    flex: 4;
}

table {
    border-collapse: collapse;
    display: block;
    padding: 0;
    margin-top: 1em;
}

.copy_button {
    font-size: 1rem;
    border-radius: 0.25rem;
    line-height: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
    border: 0.0625rem solid transparent;
    background-color: #3b5bdb;
    color: #fff;
}

.copy_button:hover {
    background-color: #364fc7;
}
<t:1708022700:F>
.copy_button svg {
    height: 1em;
}

.hammertime_div {
    padding: 2px;
    display: inline-flex;
}

.hammertime {
    display: inline-flex;
    color: white;
    background-color: #424242;
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: monospace;
    padding-top: 5px;
}

/* ----------------------------------- */
/* ----------------------------------- */
/* ---     Text areas              --- */
/* ----------------------------------- */
/* ----------------------------------- */

#text_areas {
    display: flex;
    flex-direction: row;
    align-items: top;
}

.frame_header {
    background-color: #aaaaaa;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.2em;
    font-weight: bold;
}

.frame_header button {
    float: right;
    margin-right: 15px;
    border-radius: 4px;
    background-color: #424242;
    color: white;
}

/* ----------------------------------- */
/* ---       Display area          --- */

#discorddoc_display_frame {
    display: inline-flex;
    flex-direction: column;
    flex: 1;
    border: 2px solid black;
    background-color: #424242;
    color: white;
    white-space: pre-wrap;
}

#discorddoc_display {
    min-height: calc(100vh - 350px);
    padding: 10px;
    overflow-wrap: anywhere;
}

/* unvisited link */
#discorddoc_display_frame a:link {
    color: lightblue;
  }

/* visited link */
#discorddoc_display_frame a:visited {
    color: rgb(108, 207, 240);
}

/* mouse over link */
#discorddoc_display_frame a:hover {
    color: #5c79f0;
}

/* selected link */
#discorddoc_display_frame a:active {
    color: blue;
}

/* ----------------------------------- */
/* ---      Template area          --- */

#discorddoc_template_frame {
    display: inline-flex;
    flex-direction: column;
    flex: 1;
    border: 2px solid black;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    white-space: pre-wrap;
}

[contenteditable] {
  outline: 0px solid transparent;
}

#discorddoc_template {
    min-height: calc(100vh - 350px);
    padding: 10px;
}

