
.leaflet-popup-content-wrapper, .leaflet-popup.tip {
  background-color: lightgray;
}

.leaflet-container {
    cursor: auto;
}

.leaflet-popup-content input {
    border-style: solid;
    border-width: 1px;
    margin: 1px;
}

.leaflet-grab {
    cursor: pointer;
}

.leaflet-dragging .leaflet-grab {
   cursor: move;
}
