
html {
    height: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    height: 100%;
    background-color: pink;
}

/* don't underline links */
a {
    text-decoration: none;
}

.header {
    background-color: #888888;
}

.title {
    font-size: 32px;
    margin-left: 10px;
}

.title_text {
    display: inline-block;
}

.title_task_option {
    vertical-align: middle;
    display: inline-block;
    float: right;
}

.title_task_option input {
    vertical-align: middle;
    margin-right: 30px;
}

#buttons {
    margin-bottom: 4px;
    margin-top: 2px;
    position: relative;
}

#help_button {
    position: absolute;
    right: 8px;
}

/* ****************************** */
/*  Search                        */
/* ****************************** */

#search {
    position: relative;
    display: inline;
}

#search_input {

}

#search_results {
    position: absolute;
    top: 24px;
    left: 0px;
    max-height: 600px;
    overflow-y: auto;
    word-break: keep-all;
    white-space: nowrap;
    background-color: white;
    border: 1px solid black;
    z-index: 2000;
    display: none;
    padding-left: 10px;
    padding-right: 10px;
}

.search_result {
    cursor: pointer;
}

.search_result:hover {
    background-color: yellow;
}

/* ******************************************* */
/* ******   PANES           ****************** */
/* ******************************************* */

#panes {
    height: calc(100% - 80px);
    position: relative;
    display: flex;
}

#left_pane {
    width: 25%;
    height: 100%;
    vertical-align: top;
    margin-left: 5px;
    background-color: white;
    display: inline-block;
    overflow-y: scroll;
    min-width: 400px;
    max-width: 500px;
}

#left_pane td {
    text-align: right;
}

/* *************************************************** */
/* ******* Tabs                  ********************* */
/* *************************************************** */

#left_pane_tabs {
    display: none; /* will enable when GPX is loaded */
    font-size: 22px;
}

.tab_active {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
}

.tab_inactive {
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
    background-color: #999999;
}

/* *************************************************** */
/* ******* Drop Zone             ********************* */
/* *************************************************** */

#drop_zone {
    width: 80%;
    /* min-height: 25%;*/
    border-radius: 20px;
    border: 2px dashed gray;
    border-color: gray;
    margin-left: 10%;
    margin-top: 10%;
    text-align: center;
    line-height: 50px;
}

/* *************************************************** */
/* ******* Right Pane            ********************* */
/* *************************************************** */

#right_pane {
    height: 100%; /* 100% or 75% depending on whether the baro is displayed */
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    margin-right: 8px;
}

#map {
    height: 100%;
}

#chart {
    width: 100%;
    height: 25%;
    margin-top: 3px;
    background-color: #aaaaaa;
    display: none;
}

.menu {
    background-color: lightgray;
    cursor: pointer;
}

.menuitem:hover {
    background-color: white;
}

/* *************************************************** */
/* ******* WP elements    **************************** */
/* *************************************************** */

.wp_icon {
    background-color: red;
}

.wp_icon_html_current {
    position: absolute;
    display: inline-block;
    font-size: 16px;
    border: 1px solid black;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(255,255,0,0.6);
}

.wp_icon_html {
    position: absolute;
    display: inline-block;
    font-size: 16px;
    border: 1px solid black;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(255,255,255,0.6);
}

.wp_icao {
    width: 70px;
}

.wp_runway {
    width: 50px;
}

.wp_alt {
    width: 50px;
}

.wp_radius {
    width: 50px;
}

/* *************************************************** */
/* ******* Task info elements    ********************* */
/* *************************************************** */

#task_info {
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    border-collapse: collapse;
}

.task_info_wp {
    border-top: 2px solid black;
    height: 36px;
}

.task_info_wp:hover {
    background-color: #cccc88;
}

.task_info_wp_current {
    border: 4px solid yellow;
    background-color: yellow;
    height: 36px;
}

.task_info_wp_index {
    text-align: left;
    font-size: 12px;
    background-color: #e6ffff;
    width: 1%;
    white-space: nowrap;
}

.task_info_wp_name {
    text-align: left;
    background-color: #e6ffff;
}

.task_info_wp_bearing {
    padding-right: 15px;
}


.task_info_wp_buttons {
    width: 80px;
}

.task_info_wp_buttons div:hover { /* highlight buttons in red */
    border: 2px solid red;
}

.task_info_wp_button_up {
    display: inline-block;
    width: 25px;
    height: 30px;
    background-image: url("../images/arrow_up.png");
}

.task_info_wp_button_down {
    display: inline-block;
    width: 25px;
    height: 30px;
    background-image: url("../images/arrow_down.png");
}

.task_info_wp_button_delete {
    display: inline-block;
    width: 25px;
    height: 30px;
    background-image: url("../images/delete.png");
}

.task_info_wp_limits {
    font-size: 14px;
}

#task_info_distance {
    text-align: right;
    font-size: 24px;
    background-color: #d0d0d0;
    margin-right: 10px;
}

/* *************************************************** */
/* ******* TrackLogs info elements    **************** */
/* *************************************************** */

#tracklogs_info {
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    border-collapse: collapse;
    display: none;
}

.tracklogs_info_entry {
    border-top: 2px solid black;
    height: 36px;
}

.tracklogs_info_entry_current {
    border: 4px solid yellow;
    background-color: yellow;
    height: 36px;
}

.tracklogs_info_entry_name {
    text-align: left;
    background-color: #e6ffff;
}

.tracklogs_info_entry_name:hover {
    background-color: #cccc88;
}

/* *************************************************** */
/* ******* TrackLog info elements    ***************** */
/* *************************************************** */

#tracklog_info {
    font-size: 16px;
    width: 100%;
    cursor: default;
    display: none;
}

.tracklog_name {
    text-align: center;
    background-color: #e6ffff;
}

.tracklog_info_section_header {
    background-color: pink;
    text-align: center;
    font-weight: bold;
}

.tracklog_info_header {
    border-top: 2px solid black;
    font-weight: bold;
}

.tracklog_wp_info {
    border-top: 2px solid #888888;
}

.tracklog_wp_info:hover {
    background-color: #cccc88;
}

/* *************************************************** */
/* ******* Settings              ********************* */
/* *************************************************** */

#settings {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 2000;
}

#settings_heading {
    text-align: center;
    font-size: 32px;
}

#settings_heading_text {
    display: inline-block;
}

#settings_heading button {
    vertical-align: middle;
    margin-left: 30px;
}

.setting {
    border-bottom: 2px solid black;
}

.setting_name {
    width: 45%;
    font-size: 28px;
    text-align: right;
}

.setting_options {
    width: 55%;
    text-align: right;
}
.setting_option {
    background-color: white;
    text-align: right;
    margin-left: 50%;
}

.setting_option:hover {
    cursor: pointer;
    background-color: lightgreen;
}

/* *************************************************** */
/* ******* SkyVector              ******************** */
/* *************************************************** */

#skyvector_button {
    text-decoration: none;
}
