
html {
    height: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    height: 100%;
    background-color: pink;
}

.header {
    background-color: #888888;
}

.title {
    font-size: 32px;
    margin-left: 10px;
}

.title_text {
    display: inline-block;
}

.title_task_option {
    vertical-align: middle;
    display: inline-block;
    float: right;
}

.title_task_option input {
    vertical-align: middle;
    margin-right: 30px;
}

#buttons {
    margin-bottom: 4px;
}

#panes {
    height: 90%;
    position: relative;
}

#left_pane {
    width: 20%;
    height: 100%;
    vertical-align: top;
    margin-left: 5px;
    background-color: white;
    display: inline-block;
    overflow-y: scroll;
}

#left_pane td {
    text-align: right;
}

#drop_zone {
    width: 80%;
    min-height: 25%;
    border-radius: 20px;
    border: 2px dashed gray;
    border-color: gray;
    margin-left: 10%;
    margin-top: 10%;
    text-align: center;
    line-height: 50px;
}

#right_pane {
    width: 78%;
    height: 100%; /* 100% or 75% depending on whether the baro is displayed */
    display: inline-block;
}

#map {
    height: 100%;
}

#barograph {
    width: 100%;
    height: 25%;
    margin-top: 3px;
    display: inline-block;
    background-color: #aaaaaa;
    display: none;
}

.menu {
    background-color: lightgray;
    cursor: pointer;
}

.menuitem:hover {
    background-color: white;
}

/* *************************************************** */
/* ******* WP elements    **************************** */
/* *************************************************** */

.wp_icon {
    background-color: red;
}

.wp_icon_html_current {
    position: absolute;
    display: inline-block;
    font-size: 24px;
    border: 1px solid black;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(255,255,0,0.6);
}

.wp_icon_html {
    position: absolute;
    display: inline-block;
    font-size: 24px;
    border: 1px solid black;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(255,255,255,0.6);
}

.wp_icao {
    width: 70px;
}

.wp_runway {
    width: 50px;
}

.wp_alt {
    width: 50px;
}

.wp_radius {
    width: 50px;
}

/* *************************************************** */
/* ******* Task list elements    ********************* */
/* *************************************************** */

#task_list {
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    border-collapse: collapse;
}

.task_list_wp {
    border-top: 2px solid black;
    height: 36px;
}

.task_list_wp:hover {
    background-color: #cccc88;
}

.task_list_wp_current {
    border: 4px solid yellow;
    background-color: yellow;
    height: 36px;
}

.task_list_wp:hover {
    background-color: #cccc88;
}

.task_list_wp_index {
    text-align: left;
    font-size: 12px;
    background-color: #e6ffff;
    width: 1%;
    white-space: nowrap;
}

.task_list_wp_name {
    text-align: left;
    background-color: #e6ffff;
}

.task_list_wp_bearing {
    padding-right: 15px;
}


.task_list_wp_buttons {
    width: 80px;
}

.task_list_wp_buttons div:hover { /* highlight buttons in red */
    border: 2px solid red;
}

.task_list_wp_button_up {
    display: inline-block;
    width: 25px;
    height: 30px;
    background-image: url("../images/arrow_up.png");
}

.task_list_wp_button_down {
    display: inline-block;
    width: 25px;
    height: 30px;
    background-image: url("../images/arrow_down.png");
}

.task_list_wp_button_delete {
    display: inline-block;
    width: 25px;
    height: 30px;
    background-image: url("../images/delete.png");
}

.task_list_wp_limits {
    font-size: 14px;
}

#task_list_distance {
    text-align: right;
    font-size: 24px;
    background-color: #d0d0d0;
    margin-right: 10px;
}
/* *************************************************** */
/* ******* Settings              ********************* */
/* *************************************************** */

#settings {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 2000;
}

#settings_heading {
    text-align: center;
    font-size: 32px;
}

#settings_heading_text {
    display: inline-block;
}

#settings_heading button {
    vertical-align: middle;
    margin-left: 30px;
}

.setting {
    border-bottom: 2px solid black;
}

.setting_name {
    width: 45%;
    font-size: 28px;
    text-align: right;
}

.setting_options {
    width: 55%;
    text-align: right;
}
.setting_option {
    background-color: white;
    text-align: right;
    margin-left: 50%;
}

.setting_option:hover {
    cursor: pointer;
    background-color: lightgreen;
}

/* *************************************************** */
/* ******* SkyVector              ******************** */
/* *************************************************** */

#skyvector_button {
    text-decoration: none;
}
