
html {
    height: 100%;
}

body {
    margin: 0;
    font-family: sans-serif;
    height: 100%;
    background-color: pink;
}

.header {
    background-color: #888888;
}

.title {
    font-size: 32px;
    margin-left: 10px;
    display: inline-block;
}

#buttons {
    margin-bottom: 4px;
}

#panes {
    height: 93%;
}

#left_pane {
    width: 25%;
    height: 100%;
    vertical-align: top;
    margin-left: 5px;
    background-color: white;
    display: inline-block;
}

#drop_zone {
    width: 80%;
    height: 25%;
    border-radius: 20px;
    border: 2px dashed gray;
    border-color: gray;
    margin-left: 10%;
    margin-top: 10%;
    text-align: center;
    line-height: 50px;
}

#map_pane {
    width: 73%;
    height: 100%;
    display: inline-block;
}

#map {
    height: 100%;
}

.menu {
    background-color: lightgray;
    cursor: pointer;
}

.menuitem:hover {
    background-color: white;
}

.wp_icon {
    background-color: yellow;
}

.wp_icon_html {
    position: absolute;
    display: inline-block;
    font-size: 24px;
    border: 1px solid black;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(255,255,255,0.4);
}

#task_list {
    cursor: pointer;
}

.task_list_wp {
    border-bottom: 2px solid black;
}
