
html {
    height: 100%;
}

body {
    margin: 0;
    font-family: sans-serif;
    height: 100%;
    background-color: pink;
}

.header {
    background-color: #888888;
}

.title {
    font-size: 32px;
    margin-left: 10px;
}

.title_text {
    display: inline-block;
}

.title_task_option {
    vertical-align: middle;
    display: inline-block;
    float: right;
}

.title_task_option input {
    vertical-align: middle;
    margin-right: 30px;
}

#buttons {
    margin-bottom: 4px;
}

#panes {
    height: 90%;
    position: relative;
}

#left_pane {
    width: 25%;
    height: 100%;
    vertical-align: top;
    margin-left: 5px;
    background-color: white;
    display: inline-block;
}

#drop_zone {
    width: 80%;
    height: 25%;
    border-radius: 20px;
    border: 2px dashed gray;
    border-color: gray;
    margin-left: 10%;
    margin-top: 10%;
    text-align: center;
    line-height: 50px;
}

#map_pane {
    width: 73%;
    height: 100%;
    display: inline-block;
}

#map {
    height: 100%;
}

.menu {
    background-color: lightgray;
    cursor: pointer;
}

.menuitem:hover {
    background-color: white;
}

/* *************************************************** */
/* ******* WP elements    **************************** */
/* *************************************************** */

.wp_icon {
    background-color: yellow;
}

.wp_icon_html {
    position: absolute;
    display: inline-block;
    font-size: 24px;
    border: 1px solid black;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(255,255,255,0.6);
}

.wp_icao {
    width: 70px;
}

.wp_runway {
    width: 50px;
}

.wp_alt {
    width: 50px;
}

.wp_radius {
    width: 50px;
}

/* *************************************************** */
/* ******* Task list elements    ********************* */
/* *************************************************** */

#task_list {
    cursor: pointer;
    font-size: 16px;
}

.task_list_wp {
    border-bottom: 2px solid black;
}

/* *************************************************** */
/* ******* Settings              ********************* */
/* *************************************************** */

#settings {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 2000;
}

#settings_heading {
    text-align: center;
    font-size: 32px;
}

#settings_heading_text {
    display: inline-block;
}

#settings_heading button {
    vertical-align: middle;
    margin-left: 30px;
}

.setting {
    border-bottom: 2px solid black;
}

.setting_name {
    width: 45%;
    font-size: 28px;
    text-align: right;
}

.setting_options {
    width: 55%;
    text-align: right;
}
.setting_option {
    background-color: white;
    text-align: right;
    margin-left: 50%;
}

.setting_option:hover {
    cursor: pointer;
    background-color: lightgreen;
}
